CLIENT_ID=test
CLIENT_SECRET=test
ISSUER=test

DB_USER=test
DB_PASSWORD=test
DB_HOST=test
DB_NAME=test

# Replace with your DB credentials!
#DATABASE_URL="mysql://drizzle-sveltekit:test@localhost/ss13"
DATABASE_URL="mysql://user:password@host:port/db-name"
REPLICA_URL=0

AUTH_SECRET=""
